<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/update/<%= userdata.id %>" method="post">
        <div>
          <label for="">Name</label>
          <input type="text" name="userName" id="" value="<%= userdata.userName %>" />
        </div>
        <div>
          <label for="">email</label>
          <input type="email" name="email" id="" value="<%= userdata.email %>"/>
        </div>
        <div>
          <label for="">Author</label>
          <input type="text" name="author" id="" value="<%= userdata.author %>"/>
        </div>
        <div>
          <label for="">Price</label>
          <input type="text" name="price" id="" value="<%= userdata.price %>"/>
        </div>
        <button>Submit</button>
</body>
</html>